# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Envs
.venv/
venv/
env/

# Jupyter
*.ipynb_checkpoints

# Data (no subir datos pesados)
data/
datasets/
*.csv
*.parquet
*.pkl

# Logs / artifacts
logs/
mlruns/
artifacts/
outputs/
models/

# Streamlit
.streamlit/secrets.toml
